@font-face {
  font-family: "Bebas Neue";
  src: local("Bebas Neue Regular"),
    url("../fonts/Bebas_Neue/BebasNeue-Regular.ttf") format("truetype");
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: "Bebas Neue";
  src: local("Bebas Neue Bold") url("../fonts/Bebas_Neue/BebasNeue-Bold.ttf")
    format("truetype");
  font-style: normal;
  font-weight: 600;
}

@font-face {
  font-family: "Barlow";
  src: local("Barlow Regular"),
    url("../fonts/Barlow/Barlow-Regular.ttf") format("truetype");
  font-style: normal;
  font-weight: 400;
}
